.payment-history {
  h2 {
    font-size: 24px;
    font-weight: bold;
  }

  .filters {
    display: flex;
    justify-content: end;
    align-items: center;
    margin-bottom: 20px;

    select,
    input,
    button {
      margin-right: 10px;
      padding: 5px;
      font-size: 14px;
    }
  }

  table {
    width: 100%;
    border-collapse: collapse;

    th {
      background-color: #e0e0e0;
      padding: 10px;
      text-align: left;
    }

    td {
      padding: 10px;
      border: 1px solid #ddd;
    }

    tbody tr:last-child {
      font-weight: bold;

      td {
        text-align: right;
      }
    }
  }
}
