.certi-img {
  width: 140px;
  height: 140px;
}
.footer-info {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
li {
  list-style-type: none;
}
.download {
  align-self: start;
}
.contain {
  background-color: #0f172a;
  user-select: none;
  color: white;
}
