.product-item {
  width: 200px;
  margin: 10px;
  color: #e0e0e0;
  font-family: Arial, sans-serif;
  &:hover {
    cursor: pointer;
    .product-image {
      transform: scale(1.1);
      transition: transform 0.4s ease;
    }
  }
}

.product-image {
  width: 100%;
  height: auto;
  border-radius: 8px;
}

.product-info {
  margin-top: 8px;
}

.product-title {
  font-size: 16px;
  margin: 0;
}

.product-subtitle {
  font-size: 14px;
  color: #b0b0b0;
}
