.App {
  text-align: center;
  margin: 0;
  box-sizing: border-box;
}
.content {
  width: 75%;
  margin: 0 auto;
}
a {
  text-decoration: none;
  color: inherit;
}
.contain {
  background-color: #0f172a;
  user-select: none;
  width: 75%;
}

#nav-tablet-input:checked ~ .navigation_overlay {
  display: block;
}

#nav-tablet-input:checked ~ .navigation_tablet {
  transform: translateX(0%);
}

.navigation_overlay {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 99;
  background-color: rgba(0, 0, 0, 0.4);
}

.navigation_tablet {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  width: 320px;
  max-width: 100%;
  background-color: #fff;
  z-index: 100;
  transform: translateX(100%);
}
.list-navigation {
  z-index: 100;
  margin-top: 46px;
}
/* phan chung */
@media only screen and (max-width: 1023px) {
  .image_banner {
    padding-top: 0;
  }
  .slide-image {
    height: 100%;
  }
  .footer-css {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
  }
  .theater-page .item {
    width: 43%;
    height: 200px;
  }
  .navigation {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 110px;
    margin-bottom: 8px;
  }
  .navigation_desktop {
    display: none;
  }
  .coupons {
    display: none;
  }
}
@media only screen and (max-width: 739px) {
  .movie-detail {
    flex-direction: column;
  }
  .movie-detail .movie-banner {
    width: 100%;
  }
  .coupons {
    display: hidden;
  }
  .modal-ticket {
    width: 100%;
  }
  .modal-ticket-day {
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }
  .profile-info {
    flex-direction: column;
  }
  .take_care_client {
    flex-direction: column;
  }
  .form-avatar {
    width: 100%;
  }
  .form-input {
    width: 100%;
    margin-left: 0;
    margin-top: 8px;
  }
  .get-otp {
    flex-direction: column;
    gap: 10px;
  }
  .get-otp input {
    width: 100%;
    justify-self: center;
  }
  header .search-input {
    min-width: auto;
  }
}
@media only screen and (min-width: 740px) and (max-width: 1023px) {
}
@media only screen and (min-width: 1024px) {
}
