.App {
  text-align: center;
  margin: 0;
  box-sizing: border-box;
}
.content {
  width: 1200px;
  margin: 0 auto;
}
a {
  text-decoration: none;
  color: inherit;
}
.contain {
  background-color: #0f172a;
  user-select: none;
  width: 1200px;
}
